.thim-login {
	form {
		.input {
			font-family: $thim_font_title_font_family;
		}
		.button {
			font-family: $thim_font_title_font_family;
		}
	}
}

.mo-openid-app-icons {
	.btn {
		font-family: $thim_font_title_font_family;
	}
}